body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Navigation Bar */
.navbar {
  background-color: black;
  padding-top: 1%;
}

.navbar ul {
  list-style-type: none;
}

.navbar li{
  display: inline;
  padding: 1%;
  text-decoration: none;
}

.navbar a{
  color: rgb(50, 154, 45);
  text-decoration: none;
}
